@model System.Collections.Generic.List<ToDoCore.ViewModel.TaskViewModel>

@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<h2>Tasks</h2>

<table class="table">
    <thead>
    <tr>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Description</td>
            <td>
                <a asp-controller="Task" asp-action="Complete" asp-route-id="@task.TaskId">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-area="" asp-controller="Task" asp-action="Create">
    <span class="glyphicon glyphicon-plus-sign btn-lg"></span>
</a>