@model System.Collections.Generic.List<ToDoCore.ViewModel.TaskViewModel>

@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}




<h2>Tasks</h2>


<div>
    <ul class="tasks-list">
        @foreach (var task in Model)
        {
            <li>
                <div class="task-container">
                    <div class="description-container">@task.Description</div>
                    <div class="actions-container">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>